{% extends 'layout.html' %}
{% block content %}
	<h4 class="pt2">Build Test Package</h4>
	<div class="border-top pt-2 mb-4"></div>
	<form method="POST" action="" >
		{{form.hidden_tag()}}
		<div class="form-group row">
    		<label class="col-sm-3 col-form-label">Package Build Id</label>
    		<div class="col-sm-9">
    			{{form.test_pkg_build_id(class="form-control",value=pkg_build_id)}}
    		</div>
  		</div>
  		<div class="form-group row">
    		<label class="col-sm-3 col-form-label">Package Name</label>
    		<div class="col-sm-9">
    			{{form.test_pkg_name(class="form-control")}}
    			<small>Before package name give the prefix <strong>'apps:' ,'basic:' or 'core:'</strong></small>
    		</div>
  		</div>
  		<div class="form-group row">
    		<label class="col-sm-3 col-form-label">Description</label>
    		<div class="col-sm-9">
    			{{form.test_pkg_description(class="form-control")}}
    		</div>
  		</div>
  		<div class="form-group row">
    		<label class="col-sm-3 col-form-label">Architecture</label>
    		<div class="col-sm-9">
      			{{form.os_arch(class="form-control")}}
    		</div>
  		</div>
  		<div class="form-group row">
    		<label class="col-sm-3 col-form-label">Remote Host IPAddress</label>
    		<div class="col-sm-9">
      			{{form.remote_host_ip(class="form-control")}}
    		</div>
  		</div>
  		<div class="form-group row">
    		<label class="col-sm-3 col-form-label">Package Structure Path</label>
    		<div class="col-sm-9">
      			{{form.raw_pkg_path(class="form-control",placeholder="/absolute/path/of_remote_host_machine/package")}}
      			<small>Give absolute path for the package structure</small>
    		</div>
  		</div>
  		 <div class="form-group form-check">
    		{{form.need_patch(class="form-check-input",id="exampleCheck1")}}
    		<label class="form-check-label" for="exampleCheck1">Prepare Patch</label>
  		</div>
  		 <!--Deleting Packages-->
 		<p>Remove Files and Packages
  		<br><small>List all the Files and Packages to be removed. Use colon ' : ' as a seprator.<br>Prefixes : <b>boot-, core-, basic-, apps-, data- and root-</b>.</small></p>
  		<div class="form-group row">
    		<div class="col-sm-10">
      			{{form.remove(class="form-control",placeholder='Example : apps-abc.sq:boot-kernel')}}
    		</div>
  		</div>
  		<!--Install Script-->
  		<p>Install Script 
  		<br><small>Write your custom install script. Use semicolon ' ; ' after the end of each line.</small></p>
  		<div class="form-group row">
    		<div class="col-sm-10">
      			{{form.install_script(class="form-control",placeholder="All Packages and Files will be removed and added after reboot in initramfs. Here All the operations will be done before reboot of the OS.")}}
    		</div>
  			</div>
  		<div class="border-top pt-2"></div>
  		<div class="form-group row">
    		<div class="col-sm-5">
       			{{form.submit(class="btn btn-primary")}}
       			<a class="btn btn-warning" href="{{url_for('home')}}" role="button">Cancel</a>
    		</div>
  		</div>	
	</form>
	

{% endblock content %}