<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/css/custom.css')}}">
    <title>{{title}}</title>
  </head>
  <body>
    <!--NavBar Starts-->
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">VXL Package Builder</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              {% if current_user.is_authenticated %}
                <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('home')}}">Home</a>
                </li>
                <li class="nav-item dropdown active">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Build
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{url_for('build_test_pkg')}}">Test Package</a>
                    <a class="dropdown-item" href="#">New Package</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('register_host')}}">Register Host Machine</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
                </li>
              {% else %}
                <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('home')}}">Home</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('login')}}">Login</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('register')}}">Register</a>
                </li>
                
              {% endif %} 
            </ul>
          </div>
        </div>
     </nav>
     <!--NavBar Ends-->
     <!--Error Messages-->
    <div class="container pt-3">
      <div class="row  pt-5">
        <div class="col">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category,message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible col-lg">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{message}}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
      </div>
    </div>
    <!--Error Messages End-->
    <!--Page Content-->
    <div class="container pt-5">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
          {% block content %} 
          {% endblock content %}
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>